{% extends 'main/base.html' %}

{% block content %}
<h1>Welcome to Proof of concept for List of Pharmaceutical Products in Python/Django</h1>

<p>Here is a list of UI elements that have already been standardized:</p>

<div class="col-sm-4">
  <h4>General</h4>
  <ul>
      <li>Python 3.6</li>
      <li>Django==2.0.2</li>
      <li>django-debug-toolbar==1.9.1</li>
      <li>pytz==2018.3</li>
      <li>sqlparse==0.2.4</li>
 </ul>
</div>


<hr class="clear" />

<p>More details about this research can be found on <a href="https://webgate.ec.europa.eu/ispedia/display/ISSTANDARDS/PQTM+2017-011%2C+Research+on+Scripting+Languages+and+Development+Frameworks" target="_new">PQTM 2017-011, Research on Scripting Languages and Development Frameworks</a>.</p>
{% endblock %}
