{% extends 'main/base.html' %}

{% block content %}
<h1>Welcome to Proof of concept for List of Pharmaceutical Products in Python/Django</h1>

<p>Here is a list of UI elements that have already been standardized:</p>

<div class="col-sm-4">
  <h4>Requirments</h4>
    <pre>
        asn1crypto==0.24.0
        brotlipy==0.7.0
        certifi==2018.1.18
        cffi==1.11.4
        chardet==3.0.4
        coverage==4.5.1
        cryptography==2.1.4
        Django==2.0.2
        django-debug-toolbar==1.9.1
        django-model-utils==3.1.1
        django-nose==1.4.5
        idna==2.6
        jsonfield==2.0.2
        nose==1.3.7
        pycparser==2.18
        pyOpenSSL==17.5.0
        python-cas==1.2.0
        pytz==2018.3
        requests==2.18.4
        six==1.11.0
        sqlparse==0.2.4
        urllib3==1.22
        whitenoise==3.3.1
    </pre>
</div>
<div class="col-sm-4">
  <h4>Administration</h4>
  <ul>
      <li>Login/Password: admin/passadmin</li>
      <li>URL: <a href="{% url 'admin:index' %}" target="_blank">Django administration</a></li>
 </ul>
</div>

<hr class="clear" />

<p>More details about this research can be found on
    <a href="https://webgate.ec.europa.eu/ispedia/display/ISSTANDARDS/PQTM+2017-011%2C+Research+on+Scripting+Languages+and+Development+Frameworks" target="_new">
        PQTM 2017-011, Research on Scripting Languages and Development Frameworks</a>.
</p>
{% endblock %}
